DB_HOST=<ip_address>
DB_PORT=<port>
DB_NAME=westlakersdb
DB_USERNAME=postgres
DB_PASSWORD=<password>

ANALYTICS_DB_HOST=<ip_address>
ANALYTICS_DB_PORT=<port>
ANALYTICS_DB_NAME=westlakersdb
ANALYTICS_DB_USERNAME=postgres
ANALYTICS_DB_PASSWORD=<password>

SECURITY_USER_NAME=devuser
SECURITY_USER_PASSWORD=<password>

LOG_LEVEL=INFO
LOG_FILE=etl_pipeline.log

BATCH_SIZE=1000
ENABLED_DATA_PROFILING=true

export SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/<databasename>
export SPRING_DATASOURCE_USERNAME=postgres
export SPRING_DATASOURCE_PASSWORD=<password>
export SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
